@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    background: rgb(33,33,33);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}


.collapse-button {
    cursor: pointer;
  }
  
  .editor {
    position: relative;
  }

h1 {
    text-align: center;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* for monaco */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#monaco-editor-root {
    flex-grow: 1;
}

/* for p5.js */
canvas {
    display: block;
}


#page-wrapper {
    display: flex;
    max-width: 2000px;
    margin: 4px auto;
    padding: 4px;
    min-height: 80vh;
    justify-content: center;
}
#page-wrapper .editor {
    display: flex;
    width: 45%;
}

#page-wrapper .simulator {
    display: flex;
    width: 55%;
}

/* Typechecking Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    border-radius: 5px;
    padding: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.539); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.375);
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
}

.modal-header {
    border-radius: 5px;
    padding: 2px 16px;
    color: rgb(0, 0, 0,255, 1);
}

#errorModal .modal-header {background-color: #682929e4;}
#validModal .modal-header {background-color: #276627;}
#compileModal .modal-header {background-color: #2a32a3;}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    color: #ffffff;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.error {
    color: #cb0000;
}

.close:hover,
.close:focus {
    cursor: pointer;
} 

@media(max-width: 1000px) {
    #page-wrapper {
        display: block;
    }
    #page-wrapper .editor,
    #page-wrapper .simulator
    {
        display: block;
        width: auto;
    }
    #fsm-canvas {
        margin-top: 32px;
    }
    #page-wrapper {
        min-height: auto;
    }
}